version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test-app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
    depends_on:
      postgres:
        condition: service_healthy
      swagger:
        condition: service_healthy
    restart:
      on-failure
    networks:
      - app-network

  postgres:
    image: postgres:latest
    container_name: postgres-api
    environment:
      POSTGRES_DB: testdb
      POSTGRES_ADDRESS: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      PGDATA: /var/lib/postgresql/data/testdb
    volumes:
      - testdb-data:/var/lib/postgresql/testdb
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d testdb" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    networks:
      - app-network

  swagger:
    image: swaggerapi/swagger-ui:latest
    container_name: swagger-docs
    ports:
      - "8081:8081"
    volumes:
      - ./swagger:/usr/share/nginx/html/swagger
    environment:
      - SWAGGER_JSON=/usr/share/nginx/html/swagger/openapi.yaml
      - BASE_URL=/swagger
      - PORT=8081
      - LAYOUT=BaseLayout
      - DEEP_LINKING=true
      - DISPLAY_REQUEST_DURATION=true
      - FILTER=true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/swagger"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network

volumes:
  testdb-data:

networks:
  app-network:
    driver: bridge